/*Mens.css*/

.mens-page {
    padding: 20px;
  }
  
  .mens-page h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .mens-page p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .match-table {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .match-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .match-table th,
  .match-table td {
    color: black;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .match-table th {
    color: white;
    background-color: black;
    font-weight: bold;
  }
  

  .results-table {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .results-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .results-table th,
  .results-table td {
    color: black;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .results-table th {
    color: white;
    background-color: black;
    font-weight: bold;
  }
  