.modal {
  position: fixed; /* Use fixed to position relative to the viewport */
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  border-radius: 20px;
  padding: 1%;
  font-weight: bold;
}
  
.player-list {
  max-height: 400px;
  overflow-y: auto;
}

.player-item {
  padding: 10px;
  cursor: pointer;
}

.player-item.faded {
  opacity: 0.5;
  pointer-events: none;
}

.close {
  background : white;
  color: black;
}

.close:disabled {
  background : #2b2b28;
  color : #2b2b28;
}