/* TeamTable.css */
.team-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border: 1px solid #ddd;
}

.team-table th, .team-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.team-table thead {
  background-color: rgba(255, 255, 0, 0.1);
}

.team-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.team-table th {
  background-color: rgba(238, 238, 62, 0.421);
  color: black;
}
